div.login {

    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    justify-content: center;
    align-items: center;

    form {
        width:30vw;
        height:40vh;
        background-color: #06683a;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        border: 60px 30px #f4f4;
        z-index: 2;
        opacity: 1 !important;
        display: grid;
        grid-template-columns: 5%  auto 5%;
        grid-template-rows: repeat((5,1fr));
        border-radius: 10%;
        h2{
            color: rgb(255, 248, 248);
            margin: auto;

            grid-row: 1;
            grid-column: 1/span 3;
        }
        
        p.prompt{
            margin: auto;
            grid-column:2 ;
            grid-row: 2;
            color: rgb(255, 248, 248);
        }

        input[type="text"], .error_text{
            margin: auto;
            height: 80%;
            grid-column: 1/span 3;

            grid-row: 3;
            width: 20%;
        }
        #error_text{
            color: rgb(255, 248, 248);
            margin: auto;
            grid-column: 1/span 3;
            grid-row: 4;
        }
        button{
            margin: auto;
            border-radius: 10%;
            width: 200px;
            height: 15%;
            grid-column: 1/span 3;

            grid-row: 5;
            height: 30px;
        }
        @media screen and (max-width: 800px){
            width: 50vw;
        }
        @media screen and (max-width: 400px){
            width: 80vw;
        }
    }
}